@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
}
<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ProjetoFinal_Myte_Grupo3</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/ProjetoFinal_Myte_Grupo3.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            @if (User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-light bg-danger bg-body-tertiary fixed-top">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjetoFinal_Myte_Grupo3</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                <partial name="_LoginPartial" />
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Employees" asp-action="Details">Dados Pessoais</a>
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Users">Acesso de Usuários</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Registar de Usuário</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="WorkingHours" asp-action="Index">Cadastrar Horas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Departments" asp-action="Index">Departamentos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index">Funcionários</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="WBS" asp-action="Index">WBS</a>
                                        </li>
                                        <li class="nav-item">
                                                <a><partial name="_AdminLogin.cshtml" /></a>
                                               @* <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">Acessos de Administrador</a> *@
                                               @* <a class="nav-link"><partial name="_AdminLogin.cshtml" /></a> *@
                                        </li>
                                        @* <li class="nav-item">
                                            <a><partial name="_AdminLogin.cshtml" /></a>

                                        </li> *@
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            }
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>