@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User)) //Verifica se está autenticado.
{
    <ul class="nav-item">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <button class="btn bi bi-power text-dark mt-4">Logout</button>
        </form>
    </ul>
}




