@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User)) //Verifica se está autenticado.
{
    <ul class="nav-item">
        <form asp-controller="account" asp-action="logout" method="post">
            <button   class="nav-link btn-link py-0"><img style="width:16px" src="~/saida.png"></button>
        </form>
    </ul>
}




