@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User)) // verifica se está autenticado.
{
    <ul class="nav-item">
        <form asp-controller="account" asp-action="logout" method="post">
            <button type="submit" style="width:auto" class="nav-link btn-link py-0">


                Logout @User.Identity!.Name


            </button>
        </form>
    </ul>
}
else
{

    <ul class="nav-item">

        <a class="nav-link" asp-controller="Account" asp-action="Register">
            Registrar
        </a>
    </ul>
    <ul class="nav-item">

        <a class="nav-link" asp-controller="Account" asp-action="Login"> Login</a>


    </ul>





}