@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User)) //Verifica se está autenticado.
{
    <ul class="nav-item">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <button class="btn bi bi-box-arrow-left text-secondary mb-2 fw-medium" style="margin-top: 33px"> Logout</button>
        </form>
    </ul>
}




