@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User)) //Verifica se está autenticado.
{
    <ul class="nav-item">
        <form asp-controller="account" asp-action="logout" method="post">
            <button type="submit" style="width:auto" class="nav-link btn-link py-0">Sair</button>
        </form>
    </ul>
}