@model ProjetoFinal_Myte_Grupo3.Models.Department
@{
    ViewData["Title"] = "Excluir Departamento";
}
<h1>Excluir Departamento</h1>
<hr/>
<h3>Tem certeza que deseja excluir esse Departamento?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Departamento:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentId" />
        <button type="submit" class="btn btn-primary mt-2 text-white">Excluir</button>
        <a class="btn btn-secondary mt-2" asp-action="Index">Voltar</a>
    </form>
</div>
