
/* Cores para os buttons do Mythree ---------------------------------- */
.btn-primary {
    background-color: #E15031;
    border-color: #E15031;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    background-color: #e36b0a;
    border-color: #e36b0a;
}
.btn-link {
    color: #fd7e14;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active {
    color: #e36b0a;
}
.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #ff9c51;
    border-color: #ff9c51;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #e36b0a;
    border-color: #e36b0a;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-link:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5);
}
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5);
}


/* Cores para o check do Switch ---------------------------------- */

.form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23CFCFCF'/%3e%3c/svg%3e") !important;
    background-image: var(--bs-form-switch-bg) !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(225, 80, 49, 0.25) !important;
    border-color: #E15031 !important;
    background-image: var(--bs-form-switch-bg) !important;
}

.form-check-input:checked {
    background-color: #E15031 !important;
    border-color: #E15031 !important;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e") !important;
    background-image: var(--bs-form-switch-bg) !important;
}

.form-check-input:checked:focus {
    box-shadow: 0 0 0 0.25rem rgba(225, 80, 49, 0.25) !important;
    border-color: #E15031 !important;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e") !important;
    background-image: var(--bs-form-switch-bg) !important;
}

.form-check-input:hover {
    background-color: rgba(225, 80, 49, 0.1) !important;
    border-color: #E15031 !important;
    background-image: var(--bs-form-switch-bg) !important;
}


/* Tabela do WorkingHours ----------------------------------------------- */

.table table-bordered {
    border: 2px solid #dee2e6;
}
h1.titulo_boasVindas {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.titulo_tabela {
    font-family: Calibri, sans-serif;
    font-weight: 900;
    font-size: 16px;
}
.text_totais {
    font-family: Calibri, sans-serif;
    font-weight: 900;
    font-size: 16px;
    padding: 10px !important;
}
#linhaTotais,
#totalGeral,
.table td,
.table th {
    font-family: Calibri, sans-serif;
    vertical-align: baseline;
}
.table td,
.table th {
    padding: 4px;
}
.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}
.table-striped {
    box-shadow: none !important;
}
.table > :not(caption) > * > * {
    box-shadow: none !important;
}
.table thead th {
    vertical-align: middle;
    font-family: Calibri, sans-serif;
    font-weight: 900;
    margin: 0;
}
p {
    font-family: Calibri, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}
.weekend-column {
    background-color: #eaeaea !important; /* Tonalidade mais escura */
}
tfoot {
    background-color: rgba(0, 0, 0, .05);
}
th, td {
    border: none;
    padding: 8px;
    text-align: center;
}
input {
    width: 100%;
    border: none;
    text-align: center;
    background-color: rgba(0, 0, 0, .0);
    padding: 0.375rem 0.3rem; /* Padding padrão do Bootstrap */
    font-family: Calibri, sans-serif;
}
select {
    border: none;
    background-color: rgba(0, 0, 0, .0);
    padding: 0.375rem 0.75rem; /* Padding padrão do Bootstrap */
    font-family: Calibri, sans-serif;
}
.wbs_nomeDela {
    text-align: revert;
}
.title-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 20px;
}
.date-forms-container {
    display: flex;
    gap: 8px;
    align-items: center;
}
.form-group {
    width: 250px;
    margin-bottom: 0;
}

﻿ /* Configurações exclusivas do index.cshtml de working hours */
.loaded-wbs {
    outline: none;
    pointer-events: none;
    text-decoration: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

/* ------------------------- Linha abaixo da tabela */
.msg_tabela {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    font-weight: 500;
}
#editWorkingHoursText {
    margin-left: 10px;
    text-decoration: underline;
}