
/* Cores para os buttons do Mythree ---------------------------------- */
.btn-primary {
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    background-color: #e36b0a;
    border-color: #e36b0a;
}

.btn-link {
    color: #fd7e14;
}

    .btn-link:hover,
    .btn-link:focus,
    .btn-link:active,
    .btn-link.active {
        color: #e36b0a;
    }

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #ff9c51;
    border-color: #ff9c51;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #e36b0a;
    border-color: #e36b0a;
}

    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .btn-link:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5);
    }

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5);
}
/* ----------------------------------------------- */

.table table-bordered {
    border: 2px solid #dee2e6;
}

h1.titulo_boasVindas {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.titulo_tabela {
    font-family: Calibri, sans-serif;
    font-weight: 900;
    font-size: 16px;
}

.text_totais {
    font-family: Calibri, sans-serif;
    font-weight: 900;
    font-size: 16px;
}

#linhaTotais,
#totalGeral,
.table td,
.table th {
    font-family: Calibri, sans-serif;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.table thead th {
    vertical-align: middle;
    font-family: Calibri, sans-serif;
    font-weight: 900;
    margin: 0;
}

p {
    font-family: Calibri, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

/* ----------------------------------------------- NavBar */
.texto_logo {
    vertical-align: middle;
    margin-top: 3px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
}

.navbar {
    padding: 10px;
    margin-bottom: 100px;
}
/* ----------------------------------------------- */

/* ------------------------- Linha abaixo da tabela */
.msg_tabela {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    font-weight: 500;
    gap: 6px;
}
/* ----------------------------------------------- */


tfoot {
    background-color: rgba(0, 0, 0, .05);
}

th, td {
    border: none;
    padding: 8px;
    text-align: center;
}


input {
    width: 100%;
    border: none;
    text-align: center;
    background-color: rgba(0, 0, 0, .0);
    padding: 0.375rem 0.3rem; /* Padding padrão do Bootstrap */
    font-family: Calibri, sans-serif;
}

select {
    border: none;
    background-color: rgba(0, 0, 0, .0);
    padding: 0.375rem 0.75rem; /* Padding padrão do Bootstrap */
    font-family: Calibri, sans-serif;
}

.title-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.date-forms-container {
    display: flex;
    gap: 8px;
}

.form-group {
    width: 250px;
    margin-bottom: 0;
}

.weekend-column {
    background-color: #eaeaea /* Tonalidade mais escura */
}
