/* Cores para o olhinho da senha inicial ---------------------------------- */

.btn-outline-secondary {
    color: #6c757d; /* Cor do texto cinza */
    background-color: white; /* Fundo branco */
    border: 1px solid white !important; /* Borda branca */
}

.btn-outline-secondary:focus-visible,
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:focus-within,
.btn-outline-secondary:active {
    color: #6c757d !important; /* Mantém a cor do texto cinza */
    background-color: white !important; /* Mantém o fundo branco */
    border-color: white !important; /* Borda branca */
    outline: none !important; /* Remove o contorno */
    box-shadow: none !important; /* Remove a sombra */
}

/* Removendo sombras e bordas adicionais */
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    box-shadow: none !important;
    outline: none !important;
}
/* Adicional para garantir que todas as propriedades de sombra sejam removidas */
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:focus:active,
.btn-outline-secondary.active {
    box-shadow: none !important;
    outline: none !important;
    border-color: white !important;
}
/* ----------------------------------------------- */


/* Configurações para a NavBar */
.nav_color {
    /*background: linear-gradient(to right, #ee7724,#d8363a, #dd3675, #b44593);*/
    background-color: #f85106; /*#f85106 #f1f1f1*/
    color: white;
    padding: 12px 16px 12px 16px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav_color .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}
.nav_color .navbar-toggler:hover {
    border-color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.1);
}
.nav_color .navbar-toggler:active,
.nav_color .navbar-toggler:focus {
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none !important;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #fd7e14 !important;
    color: none !important;
    box-shadow: none !important;
}
.nav_color .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.logo_nav {
    display: flex;
    align-items: center;
    flex-direction: row; /* Garante que as divs fiquem lado a lado */
}

.logo_nav > * {
    flex-grow: 1; /* Faz com que as divs filhas ocupem todo o espaço disponível */
    flex-shrink: 0; /* Impede que as divs filhas diminuam de tamanho */
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #e9ecef !important;
}

/*Button de Login*/
.btn_login:hover {
    box-shadow: #adb5bd 0.3rem 0.3rem 0.5rem !important;
}