html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.buttons_orange,
.buttons_orange:hover, 
.buttons_orange:active {
    font-family: sans-serif;
    font-size: 15px;
    background: #f85106;
    color: #ffff;
    border-color: #f85106;
    border-radius: 4px;
    border: solid #f85106 1px;
    padding: 2px 11px;
}

