@model ProjetoFinal_Myte_Grupo3.Models.WBS

@{
    ViewData["Title"] = "Excluir WBS";
}
<h1>Excluir WBS</h1>
<hr />
<h3>Tem certeza que deseja excluir essa WBS?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Código:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            Descrição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Tipos:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            Contador:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SequentialCounter)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WBSId" />
        <button type="submit" class="btn btn-primary mt-2 text-white">Excluir</button>
        <a class="btn btn-secondary mt-2" asp-action="Index">Voltar</a>
    </form>
</div>
