@model ProjetoFinal_Myte_Grupo3.Models.WBS

@{
    ViewData["Title"] = "Detalhes WBS";
}
<nav data-mdb-navbar-init class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol id="bread" class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-secondary" asp-area="" asp-controller="WorkingHours" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a class="text-secondary" asp-area="" asp-controller="WBS" asp-action="Index">WBS</a></li>
            </ol>
        </nav>
    </div>
</nav>
<div class="card shadow bg-light rounded-3">
    <div class="card-header card_color">
        <h2 class="card-title text-center mb-0 mt-0 text-white">Detalhes WBS</h2>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Nome:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt class="col-sm-2">
                Descrição:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Tipo:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
        </dl>
        <div>
            <a class="btn btn-primary mt-2 text-white" asp-action="Edit" asp-route-id="@Model?.WBSId">Editar</a>
            <a class="btn btn-secondary mt-2" asp-action="Index">Voltar</a>
        </div>
    </div>
<div>
