@model ProjetoFinal_Myte_Grupo3.Models.WBS

@{
    ViewData["Title"] = "Detalhes WBS";
}
<h1>Detalhes Departamento</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Nome:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            Descrição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Tipos:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            Contador:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SequentialCounter)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary mt-2 text-white" asp-action="Edit" asp-route-id="@Model?.WBSId">Editar</button>
    <a class="btn btn-secondary mt-2" asp-action="Index">Voltar</a>
</div>
